header.header-page.header
    .wrap-sticky-header
        .bg-cover
        .header__top
            .container
                .header__top__left
                    a(href="#").btn-toggle-menu.mobile-show
                        span
                    ul.nav.mobile-hide
                        li: a(href="#") 
                            i.icon.ic-phone
                            | HOTLINE  #[span.phonenumber 1900.0263]
                .header__top__center
                    p.m-0.slogan.mobile-hide “ Mang Đến Hạnh Phúc Trọn Vẹn ”
                    .mobile-show.logo
                        a(href=url).header__logo.bg-white
                            img(src=logo, alt="")
                .header__top__right
                    .cartPanel
                        a(href="#")
                            .plainText.mobile-hide GIỎ HÀNG
                            .cart
                                i.icon.ic-cart
                                .num 2
        .header__main
            .container
                ul.nav.header__menu
                    li.nav-link
                        a(href="#" class=ishomepage ? 'active' : '').nav-item
                            i.icon.ic-home
                            span HOME
                    li.nav-link: a(href="#").nav-item
                        i.icon.ic-leaf
                        span MEDIQUEEN TEA  
                    li.nav-link: a(href="#").nav-item
                        i.icon.ic-food
                        span MEDIQUEEN COFFEE  
                    li.nav-link.logo.mobile-hide: a(href=url).header__logo
                        img(src=logo, alt="")
                    li.nav-link: a(href="#").nav-item
                        i.icon.ic-shop
                        span ĐẠI LÝ  
                    li.nav-link: a(href="#").nav-item
                        i.icon.ic-news
                        span TIN TỨC
                    li: a(href="#").nav-item
                        i.icon.ic-headset
                        span LIÊN HỆ