mixin banner_slider
    .banner-home
        .swiper-container
            .swiper-wrapper
                each val in [3,2,3]
                    .imgPanel.swiper-slide(style='max-width:1170px')
                        .img-bg(style=`background-image:url("images/banner${val}.png")`)
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
        //- .owl-carousel
        //-     each val in [1,2,3]
        //-         .imgPanel
        //-             .img-bg(style=`background-image:url("images/banner${val}.png")`)
mixin title_section_home(title)
    .block__content__text.text-center
        h2.block__content__text--title.block__content__text--underLine.text-uppercase #[=title]
mixin products_intro_panel(name,urlImg,dataBenefit, isReverse,_class)
    if !isReverse
        .productCard(class=_class)
            .imgPanel
                +img-bg('images/product1.png','','productThumb')
            .infoPanel
                .inner-info
                    .info
                        .nameInfo.roboto-bold #[=name]
                        .priceInfo.roboto-bold 500.000đ
                        p Trà thảo dược tăng cân MEDIQUEEN TEA hay còn gọi tắt là trà Mediqueen là một sản phẩm được phát triển từ trà tăng cân Mộc Chi một sản phẩm cực hot trên thị trường do MINQ NATURAL - Việt Nam sản xuất và sau này được đổi tên thành MEDIQUEEN
                    .info
                        p.label.roboto-bold Công dụng
                        ul.nav.list-style-none
                            if dataBenefit && dataBenefit.length 
                                each dt in dataBenefit
                                    li
                                        i.icon(class=dt.icon)
                                        span #[=dt.text]
                    .info
                        .btn-action-cart
                            a(href="#").bag-btn
                            a(href="#").btn-custom.orange.text-uppercase CHI TIẾT
                            a(href="#").btn-custom.transparent.text-uppercase mua ngay
                            a(href="#").link-btn
    else
        .productCard.isReverse(class=_class)
            .infoPanel
                .inner-info
                    .info
                        .nameInfo.roboto-bold #[=name]
                        .priceInfo.roboto-bold 500.000đ
                        p Trà thảo dược tăng cân MEDIQUEEN TEA hay còn gọi tắt là trà Mediqueen là một sản phẩm được phát triển từ trà tăng cân Mộc Chi một sản phẩm cực hot trên thị trường do MINQ NATURAL - Việt Nam sản xuất và sau này được đổi tên thành MEDIQUEEN
                    .info
                        p.label.roboto-bold Công dụng
                        ul.nav.list-style-none
                            if dataBenefit && dataBenefit.length 
                                each dt in dataBenefit
                                    li
                                        i.icon(class=dt.icon)
                                        span #[=dt.text]
                    .info
                        .btn-action-cart
                            a(href="#").bag-btn.brown
                            a(href="#").btn-custom.brown.text-uppercase CHI TIẾT
                            a(href="#").btn-custom.transparent-brown.text-uppercase mua ngay
                            a(href="#").link-btn.brown
            .imgPanel
                    +img-bg(urlImg,'','productThumb')
mixin productCard_side(title,urlImg,_class)
    .productCard.sideCard(class=_class)
        .imgPanel
            +img-bg(urlImg,'','productThumb')
        .infoPanel
            .inner-info
                .info
                    .nameInfo.roboto-bold #[=title]
                    .priceInfo.roboto-bold 500.000đ
                .info
                    .btn-action
                        if _class === 'isTea'
                            a(href="#").bag-btn
                            a(href="#").btn-custom.transparent.text-uppercase mua ngay
                            a(href="#").link-btn
                        else
                            a(href="#").bag-btn.brown
                            a(href="#").btn-custom.transparent-brown.text-uppercase mua ngay
                            a(href="#").link-btn.brown
            
mixin thumb_item(title,urlImg,isFlex,_class)
    unless _class 
        - var _class = ''
    .itemProduct(class=isFlex ? `isFlex ${_class}` : _class)
        .imgPanel
            if !isFlex
                .tagDate
                    span.d-block 28
                    span.d-block Nov
                +img-bg(urlImg,'','bigThumbImg','#')
            else
                +img-bg(urlImg,'','thumbImg','#')
        .textPanel
            a(href="#").text.text__bigger #[=title]
            if !isFlex
                .text__smaller Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    | At vero eos et.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
            else
                .tagCalendar 05-05-2020
                .text__smaller.dotdotdot Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
            a(href="#").readMore Read more
mixin thumb_item_flex(title,urlImg)
    .itemProduct.reverseFlex.no-effect#thumbNews
        .textPanel
            .swiper-container
                .swiper-wrapper
                    each val in [1,2,3]
                        .swiper-slide
                            a(href="news-detail.html").m-0.text.text__bigger #[=title]
                            .text__smaller Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                | At vero eos et.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
                            a(href="news-detail.html").readMore Read more
            .swiper-pagination
        .imgPanel
            .tagDate
                span.d-block 28
                span.d-block Nov
            +img-bg(urlImg,'','bigThumbImg','news-detail.html')
mixin thumb_news(title,urlImg,isFlex,_class)
    unless _class 
        - var _class = ''
    .itemProduct(class=isFlex ? `isFlex ${_class}` : _class)
        .imgPanel
            +img-bg(urlImg,'','thumbImg','news-detail.html')
        .textPanel
            a(href="news-detail.html").text.text__bigger #[=title]
            .tagCalendar 05-05-2020
            .text__smaller.big-dotdotdot Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.
            a(href="news-detail.html").readMore Read more
mixin grid_gallery_content(data)
    .sgridContent
        .sgridContent__left
            +thumb_item('Mollitia et ut adipisci quos nisi','/images/news/thumbnews.png',false,'no-effect isGuide')
        .sgridContent__right
            each val in data
                +thumb_item('Mollitia et ut adipisci quos nisi',`/images/news/news${val}.png`,true,'no-effect isGuide')
mixin interact_panel
    .interactPanel
        .inter-item
            +img-bg('/images/logo-intro.png','','logoImg')
        .inter-item
            a(href="#"): i.icon.ic-messenger
        .inter-item
            a(href="mailto:email @example.com"): i.icon.ic-mail-white
            .dropBoxChat
        .inter-item
            a(href="tel:+12345678990"): i.icon.ic-phone-white
mixin grid_news
    each val in [4,4,4]
        +thumb_news('Mollitia et ut adipisci quos nisi',`/images/news/news${val}.png`,true,'no-effect isGuide')
mixin product_thumb_item(order,target,_class)
    .prodThumb_item(class=_class data-target=target)
        +img-bg(`/images/products/prod${order}.png`,'','thumbDetailItem')